<<<<<<< Updated upstream
/* 
    
 */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.flex{
    display: flex;
    justify-content: space-between;
}

nav{
    background-color: #343a40;
}
span{
    padding: 20px;
    color: white;
    font-size: 18px;
    list-style: none;
    transition: 0.2s;
}
li{
    padding: 20px;
    color: white;
    font-size: 16px;
    list-style: none;
    transition: 0.2s;
}


li:hover{
    color: #eb3e32;
    cursor: pointer;
    
}
=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.flex {
  display: flex;
}
.header {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 35px;
  background-color: antiquewhite;
}

.logo_png {
}
.search {
  justify-content: center;
  align-items: center;
}
.search_select {
  color: #363f4d;
  background-color: #eff3f7;
  font-size: 16px;
  border-right: 1px solid grey;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px 20px;
  transition: 0.6s;
}
.search_select:hover {
  background: #eb3e32;
  color: white;
}

.search_input {
  font-size: 16px;
  padding: 10px 60px;
  border-left: none;
  border: 1px solid grey;
}
.search_logo {
  display: inline-block;
  color: white;
  padding: 7px;
  background-color: red;
  font-weight: 100vh;
  font-size: larger;
  border: 1px solid black;
}
#user {
}
>>>>>>> Stashed changes
